.Sidebar {
  border: 1px solid rgb(246, 246, 246);
  border-radius: 4%;
  padding: 10px;
  margin: 5px;
  grid-area: sidebar;
  background: rgb(247, 247, 247);
}
.Sidebar ul {
  padding-left: 0;
  list-style: none;
}
.Sidebar li {
  padding-left: 0;
  font-size: 16px;
}
.Sidebar a {
  color: rgb(63, 63, 63);
  text-decoration: none;
}